<div class="container">

  {{cliente | json}}
  {{usuarioForm.valid}}

  <div *ngIf="usuarioForm.invalid" class="alert alert-danger">
    Preencha todos os campos!
  </div>

  <form #usuarioForm="ngForm" (ngSubmit)="salvar(usuarioForm)">
    <div class="form-group">
      <label class="form-control-label">Nome</label>
      <input class="form-control" type="text"
      name="primerioNome" [(ngModel)] = "cliente.nome" required minlength="3" #nome="ngModel">

      <div *ngIf="nome.hasError('required') && nome.dirty">Informe um nome</div>
      <div *ngIf="nome.hasError('minlength') && nome.dirty">O nome deve ser completo</div>
    </div>

    <div class="form-group" >
      <label class="form-control-label">Email</label>
      <input class="form-control" type="text" name="email"
      [(ngModel)]="cliente.email" required email #email="ngModel">

      <div *ngIf="email.invalid && email.dirty">Informe um e-mail válido</div>
    </div>

    <div class="form-group">
      <label class="form-control-label">Profissão</label>
     <select class="form-select" name="profissao" [(ngModel)]="cliente.profissao" required #profissao="ngModel">
      <option value="">Selecione</option>
      <option *ngFor="let profissao of profissoes" >{{profissao}}</option>
     </select>

     <div *ngIf="profissao.invalid && profissao.dirty">Infome uma profissao</div>
    </div>

    <button class="btn btn-primary" [disabled]="!usuarioForm.valid" type="submit">Salvar</button>

  </form>
</div>
